.Questions {
  margin: 50px;
  padding: 1px;
}

.table-container {
  background-color: #ced6e0;
  overflow-x: auto;
  padding-top: 0px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.table th,
.table td {
  padding: 10px;
  color: #333;
  border: 3px solid #b5bcc7;
}

.table th {
  background-color: #b5bcc7;
  color: black;
  font-size: 24px;
  font-weight: bold;
  position: unset;
  padding: 10px;
  border: 10px solid #b5bcc7;
}

.table td {
  font-weight: bold;
}

.status-column {
  width: 5%;
  text-align: center;
}
.status-column input[type="checkbox"] {
  transform: scale(1.5); /* Increase the scale value to adjust the checkbox size */
  width: 15px;
  height: 15px;
  border-radius: 20%; /* Make the checkbox circular */
  border: 3px solid #b5bcc7;
}

.status-column input[type="checkbox"]:checked {
  background-color:rgb(72, 199, 142); /* Change the background color when the checkbox is checked */
}

.title-column {
  font-size: 20px;
  text-align: left;
  width: 30%;
}

.question-column {
  font-size: 16px;
  text-align: center;
  width: 10%;
}

.difficulty-column {
  font-size: 20px;
  text-align: left;
  width: 10%;
}

.solution-column {
  font-size: 16px;
  text-align: center;
  width: 10%;
}

.table td a {
  text-decoration: none;
  color: #333;
}

.table td a:hover {
  text-decoration: none;
  color: white;
}

.gfg-logo,
.leetcode-logo,
.github-logo {
  max-width: 30px;
  height: auto;
}

.progress-bar {
  margin-top: 50px;
  height: 10px;
  width: 200px; /* Set a fixed width for the circular progress bar */
  border-radius: 10px; /* Make the progress bar rounded */
  background-color:rgb(72, 199, 142);
  margin-bottom: 20px; /* Add a margin-bottom to separate the progress bar from the table */
  position: relative;
  overflow: hidden;
}

.progress-bar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: rgb(72, 199, 142);
  transition: width 0.5s ease-in-out; /* Add a smooth transition effect */
}
.superman-fly {
  animation: superman-fly-animation 2s linear infinite;
}

@keyframes superman-fly-animation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

