.topic-container {
  margin: 100px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.topic-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
}

.topic-card {
  background-color: #ced6e0;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
}

.topic-card a {
  text-decoration: none;
}

.topic-card:hover {
  background-color: black;
}

.topic-card:hover h1 {
  color: white;
}

h1 {
  margin: 0;
  font-size: 40px;
  color: #333;
}
